* {
    padding: 0;
    margin: auto;
}

#game {
    width: 500px;
    height: 700px;
    padding: 20px;
    border: 7px solid rgb(160, 179, 255);
}

#character {
    width: 20px;
    height: 10px;
    background-color: firebrick;
    position: relative;
    top: 690px;
}

#block {
    width: 20px;
    height: 20px;
    background-color: honeydew;
    border: 1px dotted hotpink;
    position: relative;
    z-index: 100000;
}

